.base-input {
	width: 180px;
	height: 40px;
	margin: 3px;
}

.result-info {
	width: 600px;
	display: none;
}

#result-info-img {
	width: 400px;
}

.result-section {
	display: flex;
	justify-content: space-between;
	text-align: left;
}

.btn-primary {
	width: 200px;
	height: 45px;
	margin: 15px 0 0 0;
}

.data-area #input_area_girl, .data-area #input_area_boy {
	flex-direction: column;
}

#girl_base_data_area, #boy_base_data_area {
	text-align: left;
}
